on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  GO_VERSION: 1.25.x

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Unshallow clone for tags
        run: git fetch --prune --unshallow --tags

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # Use a commit hash from https://github.com/golangci/golangci-lint/commits/main.
          version: 2e484ee1089a13d51500f5d1961c1313cbea8ffe
          install-mode: goinstall
          args: --config=.golangci.yml --timeout=10m

      - name: Test
        run: make test
